    .padding-horizontal-5 {
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .padding-horizontal-10 {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .padding-horizontal-20 {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .padding-horizontal-40 {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .padding-horizontal-30 {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .padding-vertical-10 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .cursor-pointer {
        cursor: pointer;
    }
    
    .color-blue {
        color: #3a6193;
    }
    
    .hr-tab {
        border-bottom: 1px solid rgb(54, 54, 54);
    }
    
    .font-size-9 {
        font-size: 9px;
    }
    
    .font-size-10 {
        font-size: 10px;
    }
    
    .font-size-11 {
        font-size: 11px;
    }
    
    .font-size-12 {
        font-size: 12px;
    }
    
    .font-weight-500 {
        font-weight: 500;
    }
    
    .navbar-customers {
        background-color: white;
        height: 80px !important;
        width: 100%;
        position: fixed;
        z-index: 200 !important;
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10);
    }
    
    .logo-store-customers {
        height: 70px;
        width: 140px;
        margin-left: 20px;
    }
    
    .input-search-customers {
        border: none;
        border-bottom: 1px solid black;
        width: 250px;
    }
    
    .input-search-customers:focus {
        outline: 0;
    }
    
    .img-bag-shopping-customers {
        width: 45px;
        height: 45px;
    }
    
    .text-bag-shopping-customers {
        color: black;
        left: 15px;
        top: -23px;
        font-size: 13px;
    }
    
    .button-data-user-customers {
        border: none;
        background-color: white;
        margin-right: 20px;
    }
    
    .button-data-user-customers:focus {
        outline: 0;
    }
    
    .logo-user-customers {
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }
    
    .drop-data-user-customers {
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 20px !important;
    }
    
    .menu-vertical-customers {
        top: 73px;
        padding-top: 10px;
        width: 100px !important;
        height: calc(100% - 140px) !important;
        position: fixed;
        z-index: 30;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        box-shadow: 6px 0px 5px 0px rgba(0, 0, 0, 0.20);
        background-color: white;
    }
    
    .menu-vertical-customers::-webkit-scrollbar {
        display: none;
    }
    
    .categories-menu-vertical-customers {
        position: fixed !important;
        margin: 0px !important;
        transition-duration: 0s, 0s !important;
    }
    
    .box-categories-menu-vertical-customers {
        height: 92px !important;
        width: 560px !important;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 1px solid rgb(182, 182, 182);
        border-left: none;
        padding: 0px !important;
        transition-duration: 0s, 0s !important;
        margin: 0px !important;
    }
    
    .button-items-menu-customers {
        background-color: white;
        border: none;
        height: 90px;
        width: 100px;
        background-repeat: no-repeat !important;
        background-size: 50%;
        background-position: 100% auto;
    }
    
    .button-items-menu-customers:hover {
        background-color: #F4FFAF;
    }
    
    .button-items-menu-customers:focus {
        outline: 0;
    }
    
    .button-items-menu-categories-customers {
        background-color: white;
        border: none;
        height: 90px;
        width: 90px !important;
        background-repeat: no-repeat !important;
        background-size: 50%;
        background-position: 100% auto;
    }
    
    .button-items-menu-categories-customers:hover {
        background-color: #F4FFAF;
    }
    
    .button-items-menu-categories-customers:focus {
        outline: 0;
    }
    
    .subcategories-menu-vertical-customers {
        margin: 0px !important;
        transition-duration: 0s, 0s !important;
    }
    
    .box-subcategories-menu-vertical-customers {
        height: 195px !important;
        width: 90px !important;
        transition-duration: 0s, 0s !important;
        background-color: white;
        border: 1px solid rgb(182, 182, 182);
        border-top: none;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .img-items-menu-scroll-customers {
        min-width: 60px;
        max-width: 60px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-position: 50%;
        background-size: 100% auto;
        cursor: pointer;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .main-container-add-products-customers {
        padding-left: 220px;
        padding-top: 90px;
        padding-bottom: 140px;
        padding-right: 180px;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
    .card-add-product-customers {
        width: 230px !important;
        min-width: 230px !important;
        height: 130px !important;
        border: 1px rgba(0, 0, 255, 0.37) solid;
        border-radius: 10px;
        padding-left: 20px !important;
        padding-right: 15px !important;
        padding-top: 10px !important;
        padding-bottom: 5px !important;
        margin-right: 70px !important;
        margin-bottom: 10px !important;
        position: relative;
    }
    
    .img-card-add-products-customers-70 {
        min-width: 70px;
        max-width: 70px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-position: 50%;
        background-size: 100% auto;
        cursor: pointer;
    }
    
    .button-discount-customers {
        border-radius: 10px;
        background-color: #F4FFAF;
        color: black;
        width: 50px !important;
        height: 20px;
        text-align: center;
        bottom: 100px;
        right: 200px;
        padding: 5px;
        font-size: 12px;
    }
    
    .button-card-add-customers {
        border-radius: 10px;
        border: none;
        background-color: rgb(226, 226, 226);
        width: 60px;
        height: 20px;
        font-size: 10px;
    }
    
    .heart-card-customers {
        height: 40px;
        width: 40px;
        left: 210px;
        top: 110px;
        cursor: pointer;
    }
    
    .info-float-customers {
        background-color: #F4FFAF;
        border-radius: 10px;
        padding: 10px;
        top: calc(100% - 150px) !important;
        position: fixed !important;
        width: 150px !important;
        left: calc(50% - 75px) !important;
        z-index: 400;
    }
    
    .menu-right-vertical-customers {
        top: 100px;
        padding-top: 20px;
        left: calc(100% - 220px);
        width: 200px !important;
        height: calc(100% - 150px) !important;
        position: fixed;
        z-index: 100;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
    .menu-right-vertical-customers::-webkit-scrollbar {
        display: none;
    }
    
    .img-menu-right-vertical-customers {
        min-width: 75px;
        max-width: 75px;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-position: 50%;
        background-size: 100% auto;
        cursor: pointer;
        margin-right: 10px;
        padding: 0px;
    }
    
    .footer-customers {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        z-index: 200;
        height: 70px;
        border-top: 1px solid rgb(177, 177, 177);
    }
    
    .font-footer-customers {
        color: black;
        line-height: 9px;
    }
    
    .background-black-customers {
        z-index: 500;
        position: absolute;
        position: fixed;
        width: 100% !important;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
        margin-top: 80px;
    }
    
    #user-button:active+.background-black-customers {
        display: block;
    }
    
    .show {
        display: block;
    }
    
    .menu-login-customers {
        background-color: white;
        margin-left: 1090px;
        height: 80px !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .button-user-login-customers {
        border: none;
        background-color: white;
    }
    
    .button-user-login-customers:focus {
        outline: 0;
    }
    
    .started-login-customers {
        background-color: white;
        margin-left: 1100px;
        height: 80px !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-left: 30px;
        padding-top: 20px;
    }
    
    .started-login-customers {
        background-color: white;
        margin-left: 1100px;
        height: 80px !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-left: 30px;
        padding-top: 20px;
    }
    
    .menu-orders-customers {
        background-color: white;
        margin-left: 1080px;
        height: 485px !important;
        border-bottom-left-radius: 25px;
    }
    
    .navbar-menu-orders-customers {
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10);
    }
    
    .buttons-menu-orders-customers {
        border: none;
        background-color: white;
        padding-bottom: 10px;
        font-size: 14px;
        width: 90px;
        cursor: pointer;
    }
    
    .buttons-menu-orders-customers:focus {
        border-bottom: 3px solid #7AC0E5;
        outline: 0;
    }
    
    .card-menu-orders-customers {
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px;
        margin-top: 15px;
    }
    
    .filter-customers {
        height: 45px;
        width: 45px;
        cursor: pointer;
    }
    
    .background-customer-login {
        background: url(./Fondo-pantalla-de-ingreso.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
    
    .image-resource1-background-login-customers {
        height: 480px;
        width: 350px;
    }
    
    .image-resource2-background-login-customers {
        height: 420px;
        width: 410px;
    }
    
    .image-logo-login-customers {
        height: 230px;
        width: 300px;
    }
    
    .image-logo-registration-customers {
        height: 200px;
        width: 270px;
        margin-bottom: 20px;
    }
    
    .input-data-user-customers {
        width: 200px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid black;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
    
    .input-data-direction-customers {
        width: 200px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid black;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
    
    .button-data-direction-customers {
        width: 200px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid black;
        background-color: white;
    }
    
    .button-data-direction-customers:focus {
        outline: 0;
    }
    
    .button-get-in-user-customers {
        border-radius: 10px;
        height: 35px;
        width: 150px;
        background-color: #2E67B0;
        border: none;
        color: white;
        font-weight: 800;
        margin-bottom: 5px;
        margin-top: 10px;
        cursor: pointer;
    }
    
    .button-get-in-user-customers:focus {
        outline: 0;
    }
    
    .image-logo-registry-customers {
        height: 180px;
        width: 250px;
        margin-bottom: 30px;
    }
    
    .logo-direction-customers {
        width: 420px;
        height: 120px;
        cursor: pointer;
    }
    
    .button-direction-customers {
        border: none;
        width: 160px;
        height: 38px;
        background-color: #2E67B0;
        font-weight: 800;
        color: white;
        font-size: 15px;
        margin-top: 10px;
        cursor: pointer;
    }
    
    .map-direction-customers {
        border: 0;
        border-radius: 15px;
        top: 170px;
        left: 600px;
        margin-left: 60px;
        margin-top: 65px;
    }
    
    .button-filter-customers {
        border: none;
        background-color: white;
    }
    
    .button-filter-customers:focus {
        outline: 0;
    }
    
    .menu-filter-customers {
        background-color: white;
        margin-left: 938px;
        height: 340px !important;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 180px;
        padding-right: 40px;
        padding-left: 20px;
        padding-top: 20px;
    }
    
    .padding-vertical-20 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .button-circle-filter-customers {
        border-radius: 50px;
        border: 1px solid black;
        height: 15px;
        width: 15px;
        background-color: white;
    }
    
    .width-120 {
        width: 120px;
    }
    
    .button-circle-filter-customers:focus {
        outline: 0;
    }
    
    .button-circle-filter-customers:active {
        background-color: #3a6193;
    }
    
    .color-grey {
        color: rgb(168, 168, 168);
    }
    
    .button-apply-filter-customers {
        color: white;
        border-radius: 10px;
        border: none;
        background-color: #45B771;
        width: 100px;
        height: 35px;
        font-size: 14px;
        font-weight: 500;
        margin-top: 5px;
        cursor: pointer;
    }
    
    .font-size-28 {
        font-size: 28px;
    }
    
    .button-apply-customers:focus {
        outline: 0;
    }
    
    .color-yellow-star-customers {
        color: #E69D2F;
        font-size: 17px;
    }
    
    .box-add-product-gallery-customers {
        background-color: #EFE280;
        height: 50px;
        width: 155px;
        border-radius: 5px;
        margin-top: 20px;
        cursor: pointer;
        padding-left: 20px;
    }
    
    .size-bag-add-gallery-customers {
        height: 35px;
        width: 35px;
    }
    
    .mini-menu-vertical-gallery-customers {
        width: 100px !important;
        height: 245px !important;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        background-color: white;
        unicode-bidi: bidi-override;
        direction: rtl;
        overflow: scroll;
        overflow-x: hidden!important;
        margin-right: 20px;
    }
    
    .mini-menu-vertical-gallery-customers::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    
    .mini-menu-vertical-gallery-customers::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
    
    .mini-menu-vertical-gallery-customers::-webkit-scrollbar-thumb {
        background: #b0b0b0;
        border: 0px none #ffffff;
        border-radius: 50px;
    }
    
    .mini-menu-vertical-gallery-customers::-webkit-scrollbar-thumb:hover {
        background: #b9b9b9;
    }
    
    .mini-menu-vertical-gallery-customers::-webkit-scrollbar-thumb:active {
        background: #b8b8b8;
    }
    
    .mini-menu-vertical-gallery-customers::-webkit-scrollbar-track {
        background: #ffffff;
        border: 0px none #ffffff;
        border-radius: 50px;
    }
    
    .mini-menu-vertical-gallery-customers::-webkit-scrollbar-track:hover {
        background: #ffffff;
    }
    
    .mini-menu-vertical-gallery-customers::-webkit-scrollbar-track:active {
        background: #f1f1f1;
    }
    
    .mini-menu-vertical-gallery-customers::-webkit-scrollbar-corner {
        background: transparent;
    }
    
    .img-mini-menu-scroll-gallery-customers {
        min-width: 75px;
        max-width: 75px;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-position: 50%;
        background-size: 100% auto;
        cursor: pointer;
        margin-bottom: 10px !important;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .img-related-posts-gallery-customers {
        min-width: 85px;
        max-width: 85px;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        background-position: 50%;
        background-size: 100% auto;
    }
    
    .info-float-gallery-customers {
        background-color: #EFE280;
        border-radius: 10px;
        padding-bottom: 16px;
        padding: 10px;
        top: calc(100% - 110px) !important;
        left: calc(50% - 75px);
        position: fixed !important;
        z-index: 300 !important;
        width: 155px;
        height: 30px;
        cursor: pointer;
    }
    
    .size-bag-float-customers {
        height: 32px;
        width: 30px;
        margin-left: 5px;
    }
    
    .hr-vertical {
        border-left: 1px solid black;
        height: 35px;
    }
    
    .modal-add-products-order-customers {
        border-radius: 30px;
        width: 1100px !important;
        padding: 0px !important;
    }
    
    .modal-order-customers {
        width: 100%;
        max-height: 260px !important;
        overflow: auto;
        z-index: 0;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    
    .modal-order-customers::-webkit-scrollbar {
        display: none;
    }
    
    .modal-sizes-order-customers {
        width: 330px;
        padding-top: 30px !important;
    }
    
    .img-items-products-add-90-customers {
        min-width: 90px;
        max-width: 90px;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-position: 50%;
        background-size: 100% auto;
    }
    
    .color-green {
        color: green;
    }
    
    .modal-total-order-shadow-customers {
        box-shadow: inset 0px 5px 13px -5px rgba(0, 0, 0, 0.45);
        width: 100%;
        padding-top: 20px;
    }
    
    .button-modal-accept-order-customers {
        background-color: #EFE280;
        border-radius: 10px;
        border: none;
        height: 50px;
        width: 120px;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
    }
    
    .button-modal-accept-order-customers:focus {
        outline: 0;
    }
    
    .navbar-checkout-customers {
        background-color: white;
        height: 80px !important;
        width: 100%;
        position: fixed;
        z-index: 200 !important;
        border-bottom: 8px solid #FFF284;
    }
    
    .bag-navbar-checkout-customers {
        width: 55px;
        height: 60px;
    }
    
    .text-bag-navbar-checkout-customers {
        color: black;
        left: 18px;
        top: -20px;
        font-size: 20px;
    }
    
    .user-navbar-checkout-customers {
        height: 35px;
        width: 35px;
        cursor: pointer;
    }
    
    .main-container-checkout-customers {
        padding-top: 100px;
    }
    
    .img-checkout-customers {
        min-width: 80px;
        max-width: 80px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-position: 50%;
        background-size: 100% auto;
        cursor: pointer;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .button-discount-checkout-customers {
        background-color: #F4FFAF;
        border-radius: 5px;
        border: none;
        width: 40px !important;
        height: 20px !important;
        top: -35px !important;
    }
    
    .card-products-checkout-customers {
        border: 2px solid #80808050;
        width: 450px;
        border-radius: 10px;
        padding: 20px;
        padding-bottom: 30px;
        margin-top: 20px;
    }
    
    .card-product-like-dislike-checkout-customers {
        border: 2px solid #80808050;
        border-radius: 10px;
        padding: 10px;
        width: 200px;
        height: 45px;
        position: relative;
    }
    
    .image-like-dislike-checkout-customers {
        height: 37px;
        width: 37px;
        left: 195px;
        top: 40px;
        cursor: pointer;
        position: absolute !important;
    }
    
    .button-payment-method-customers {
        border-radius: 5px;
        border: 2px solid #80808077;
        ;
        width: 130px;
        height: 40px;
        cursor: pointer;
    }
    
    .button-change-payment-method-customers {
        height: 35px;
        border: 2px solid rgba(0, 0, 0, 0.377);
        border-radius: 10px;
        width: 80px;
        margin-left: 20px;
        cursor: pointer;
    }
    
    .input-how-much-cash-customers {
        border: none;
        border-bottom: 1px solid black;
        width: 100px;
        margin-left: 20px;
    }
    
    .input-how-much-cash-customers:focus {
        outline: 0;
    }
    
    .image-money-checkout-customers {
        width: 45px;
        height: 30px;
    }
    
    .box-schedule-order-checkout-customers {
        border: 1.5px solid rgba(0, 0, 0, 0.459);
        border-radius: 10px;
        width: 220px;
        height: 70px;
        padding: 10px;
        margin-top: 10px;
    }
    
    .button-day-schedule-order-checkout-customers {
        border: 1px solid rgba(0, 0, 0, 0.383);
        border-radius: 5px;
        width: 80px;
        height: 25px;
        margin-top: 10px;
        cursor: pointer;
    }
    
    .day-trip-checkout-checkbox-customers {
        border: 1px solid;
        border-radius: 50px !important;
        width: 15px;
        height: 15px;
        cursor: pointer;
        background-color: white;
        margin-left: 5px;
    }
    
    .day-trip-checkout-checkbox-customers:focus {
        background-color: #000;
        outline: 0;
    }
    
    .input-deliver-in-checkout-customers {
        width: 250px;
        height: 30PX;
        border-radius: 5PX;
        border: 1PX solid rgba(0, 0, 0, 0.459);
    }
    
    .button-deliver-in-checkout-direction-customers {
        height: 30px;
        border-radius: 5PX;
        width: 90px;
        border: 1PX solid rgba(0, 0, 0, 0.459);
        cursor: pointer;
        margin-right: 20px;
    }
    
    .padding-horizontal-7 {
        padding-left: 7px;
        padding-right: 7px;
    }
    
    .box-order-summary-checkout-customers {
        border: 1px solid rgba(0, 0, 0, 0.459);
        border-radius: 10px;
        width: 320px;
        height: 240px;
        padding: 20px;
        margin-top: 10px;
    }
    
    .font-size-7 {
        font-size: 7px;
    }
    
    .button-add-coupon-checkout-customers {
        background-color: #ADE1FF;
        border: none;
        border-radius: 5px;
        font-size: 13px;
        font-weight: 600;
        width: 100%;
        height: 25px;
        margin-top: 15px;
        margin-bottom: 15px;
        cursor: pointer;
    }
    
    .button-add-coupon-checkout-customers:focus {
        outline: 0;
    }
    
    .button-summary-extended-checkout-customers {
        background-color: #ffffff;
        border: 1px solid rgb(73, 73, 226);
        border-radius: 5px;
        font-size: 13px;
        font-weight: 600;
        width: 100%;
        height: 25px;
        margin-top: 15px;
        margin-bottom: 15px;
        cursor: pointer;
    }
    
    .button-summary-extended-checkout-customers:focus {
        outline: 0;
    }
    
    .button-complete-order-checkout-customers {
        background-color: #FFF284;
        border: none;
        border-radius: 5px;
        font-weight: 800;
        font-size: 17px;
        width: 230px;
        height: 50px;
        margin-top: 15px;
        cursor: pointer;
    }
    
    .button-complete-order-checkout-customers:focus {
        outline: 0;
    }
    
    .modal-change-payment-method-checkout-customers {
        width: 580px !important;
        height: auto !important;
        border-radius: 15px !important;
        padding: 0px;
        padding-top: 20px;
    }
    
    .image-money-change-payment-customers {
        height: 40px;
        width: 55px;
    }
    
    .box-shadow-bottom-items-change-payment-customers {
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10);
        height: 70px;
    }
    
    .width-100 {
        width: 100px;
    }
    
    .width-200 {
        width: 200px;
    }
    
    .button-next-change-payment-customers {
        border: none;
        background-color: #FFF284;
        font-size: 13px;
        font-weight: 600;
        height: 30px;
        width: 130px;
        cursor: pointer;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .button-next-change-payment-customers:focus {
        outline: 0;
    }
    
    .radio-item {
        display: inline-block;
        position: relative;
    }
    
    .radio-item input[type='radio'] {
        display: none;
    }
    
    .radio-item label:before {
        content: "";
        display: block;
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid rgb(0, 0, 0);
        background-color: rgb(236, 235, 235);
        cursor: pointer;
    }
    
    .radio-item input[type=radio]:checked+label:after {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        position: absolute;
        top: calc(50% - 5px)!important;
        left: calc(50% - 5px)!important;
        content: "";
        background: black;
    }
    
    .radio-item input[type=radio]:checked+label:before {
        background: #FFF284;
    }
    
    .modal-selected-payment-method-checkout-customers {
        width: 470px !important;
        height: 520px !important;
        border-radius: 50px !important;
    }
    
    .input-inscription-card-checkout-customers {
        height: 30px;
        width: 215px;
        border: none;
        background-color: #F3F3F3;
        border-radius: 5px;
    }
    
    .input-inscription-card-checkout-customers:focus {
        outline: 0;
    }
    
    .button-document-type-inscription-card-customers {
        height: 30px;
        width: 70px;
        border: none;
        background-color: #F3F3F3;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 17px;
        margin-right: 17px;
    }
    
    .padding-horizontal-60 {
        padding-left: 60px;
        padding-right: 60px;
    }
    
    .padding-vertical-15 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .padding-vertical-30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .button-cancel-save-inscription-card-customers {
        width: 150px;
        height: 30px;
        border: none;
        background-color: #FFF284;
        cursor: pointer;
        font-size: 15px;
    }
    
    .button-cancel-save-inscription-card-customers:focus {
        outline: 0;
    }
    
    .input-inscription-pse-checkout-customers {
        height: 32px;
        width: 310px;
        border: none;
        background-color: #F3F3F3;
        border-radius: 5px;
    }
    
    .input-inscription-pse-checkout-customers:focus {
        outline: 0;
    }
    
    .button-dates-inscription-pse-customers {
        height: 32px;
        width: 350px;
        border: none;
        background-color: #F3F3F3;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .image-icon-flag-country-pse-customers {
        width: 21px;
        height: 17px;
    }
    
    .modal-extended-order-checkout-customers {
        width: 530px !important;
        height: 525px !important;
        border-radius: 15px !important;
        padding: 0px;
        padding-top: 20px;
    }
    
    .image-logo-store-extended-order-customers {
        width: 100px;
        height: 90px;
        margin-left: 80px;
    }
    
    .width-150 {
        width: 150px;
    }
    
    .font-size-18 {
        font-size: 18px;
    }
    
    .input-enter-coupon-checkout-customers {
        width: 200px;
        height: 33px;
        border: 1px solid black;
        border-radius: 8px;
        font-weight: 700;
        font-size: 17px;
        padding-left: 10px;
    }
    
    .input-enter-coupon-checkout-customers::-webkit-input-placeholder {
        color: rgb(158, 158, 158);
    }
    
    .input-enter-coupon-checkout-customers:focus {
        outline: 0;
    }
    
    .button-enter-coupon-checkout-customers {
        width: 90px;
        height: 37px;
        border: 1px solid black;
        border-radius: 8px;
        background-color: white;
        font-size: 14px;
        color: #3DAE49;
        font-weight: 500 !important;
        cursor: pointer;
        margin-left: 25px;
    }
    
    .button-enter-coupon-checkout-customers:focus {
        outline: 0;
    }
    
    .margin-vertical-20 {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .image-coupon-customers {
        width: 27px;
        height: 27px;
    }
    
    .buttons-select-type-coupon-customers {
        background-color: white;
        border: none;
        width: 160px;
        padding-bottom: 8px;
        padding-top: 8px;
    }
    
    .buttons-select-type-coupon-customers:focus {
        outline: 0;
        border-bottom: 2px solid black;
    }
    
    .container-state-train-customers {
        padding-top: 90px;
        width: 400px;
        height: 100%;
        border-right: 1px solid rgb(179, 179, 179);
        position: fixed;
    }
    
    .image-state-train-customers {
        height: 320px;
        width: 32px;
    }
    
    .main-container-summary-order-train-customers {
        padding-left: 430px;
        padding-top: 120px;
    }
    
    .items-products-scroll-state-train-customers {
        width: 220px;
        height: 62px;
        border: 1px solid rgb(158, 158, 158);
        border-radius: 5px;
        box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.35);
        margin-bottom: 12px;
        margin-top: 1px;
    }
    
    .container-scroll-products-state-train-customers {
        width: 240px;
        height: 220px !important;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
    .container-scroll-products-state-train-customers::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    
    .container-scroll-products-state-train-customers::-webkit-scrollbar-thumb {
        background: #ADE1FF;
        border-radius: 10px;
    }
    
    .container-scroll-products-state-train-customers::-webkit-scrollbar-thumb:hover {
        background: #ADE1FF;
    }
    
    .container-scroll-products-state-train-customers::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius: 10px;
        box-shadow: inset 7px 10px 12px #f0f0f0;
        border: 1px solid rgb(202, 202, 202);
    }
    
    .box-order-cost-train-customers {
        width: 250px;
        height: 173px;
        border: 1PX solid rgb(156, 156, 156);
        box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.35);
        border-radius: 5px;
        margin-top: 69px;
        padding: 20px;
    }
    
    .image-money-train-customers {
        width: 60px;
        height: 42px;
        margin-left: 15px;
    }
    
    .font-size-13 {
        font-size: 13px;
    }
    
    .font-size-14 {
        font-size: 14px;
    }
    
    .font-size-15 {
        font-size: 15px;
    }
    
    .width-30 {
        width: 30px;
    }
    
    .image-state-train-on-the-way-customers {
        height: 320px;
        width: 42px;
    }
    
    .box-order-cost-train-on-the-way-customers {
        width: 220px;
        height: 150px;
        border: 1PX solid rgb(156, 156, 156);
        box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.35);
        border-radius: 5px;
        padding: 20px;
    }
    
    h6 {
        font-family: 'Roboto', sans-serif !important;
    }
    
    h5 {
        font-family: 'Roboto', sans-serif !important;
    }
    
    h4 {
        font-family: 'Roboto', sans-serif !important;
    }
    
    h3 {
        font-family: 'Roboto', sans-serif !important;
    }
    
    h2 {
        font-family: 'Roboto', sans-serif !important;
    }
    
    h1 {
        font-family: 'Roboto', sans-serif !important;
    }
    
    button {
        font-family: 'Roboto', sans-serif !important;
    }
    
    input {
        font-family: 'Roboto', sans-serif !important;
    }
    
    .width-130 {
        width: 130px;
    }
    
    .font-size-8 {
        font-size: 8px;
    }
    
    .font-size-16 {
        font-size: 16px;
    }
    
    .font-size-17 {
        font-size: 17px;
    }